.imgIcon {
    width: 15vw;
    height: 3vw;
}

.navbarDiv {
    background-color: white !important;
    width: 100%; 
    box-shadow: none !important; 
    z-index: 1100; 
    border-bottom: 1px solid rgb(207, 207, 207);
}

.homeRzIcon {
    gap: 10px;
    color: black !important;
}
