.sideDiv {
    margin-top: 64px; 
    height: calc(100% - 64px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; 
    z-index: 1000;
    background-color: #f4f4f4; 

  } 
  .css-cokf1l-MuiListItemIcon-root {
    min-width: 40px !important ;
  }